body {
	background: #222;
}
#container {
	margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial Narrow', sans-serif;
}

header {
	-webkit-box-shadow: 0px 0px 50px #fff;
	-moz-box-shadow: 0px 0px 50px #fff;
	box-shadow: 0px 0px 50px #fff;
}
	header h1 {
		font-size: 6em;
		text-align: right;
		text-shadow: 0px 0px 2px #000;
		filter: dropshadow(color=#000, offx=0, offy=0);
	}
	header > div {
		position: relative;
	}
	header h2 {
		position: absolute;
		font-size: 3em;
		bottom: 0.2em;
		color: #888;
		text-shadow: 0px 0px 2px #000;
		filter: dropshadow(color=#000, offx=0, offy=0);
	}
footer p {
	font-size: 1.1em;
	margin: 1em 0;
	text-align: center;
}

#main {
	background: #aaa;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	min-height: 5em;
}
	#main .content {
		padding: 1em 0;
		border-radius:
	}
	#main h1 {
		font-size: 2em;
	}
	#main h2 {
		font-size: 1.4em;
		margin-top: 0.8em;
	}

	#main .navigation {
		font-family: 'Arial Narrow', sans-serif;
		font-weight: bold;
		font-size: 1.2em;
		background: #222;
		padding: 0.3em 0;
		padding-bottom: 0.7em;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	#main blockquote {
		border-left: 1px solid #222;
		margin: 0.3em 2.5em;
		padding-left: 0.5em;
	}
	#main ul, #main ol {
		margin: 0.5em 3em;
	}

	div.highlight {
		margin: 0.3em 0;
		border: 1px solid #222;
		background: #222;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
		code .k, code .nb { /* keyword */
			color: #999922;
		}
		code .n { /* names */
			color: #992299;
		}
		code .p { /* stuff like ; { () } */
			color: #999;
		}
		code .nv { /* variables? */
			color: #229999;
		}
		code .o { /* operators */
			color: #229922;
		}
		code .mi { /* numbers? */
			color: #607890;
		}
		code .s { /* string */
			color: #607890;
		}
		code .c1 { /* comment */
			color: #666;
		}
ul.posts {
	list-style: none;
}
	.post {
		position: relative;
		padding-left: 40px;
		min-height: 100px;
	}
	.post .date {
		display: block;
		position: absolute;
		left: -7px;
		width: 40px;
		border: 1px solid #607890;
		text-align: center;
		font-family: 'Arial Narrow', sans-serif;
	}
		.post .date .day {
			font-size: 2.2em;
			line-height: 1em;
			font-weight: bold;
			display: block;
		}
		.post .date .month, .post .date .year {
			display: block;
			font-weight: bold;
			background-color: #607890;
			color: #222;
		}
		.post .date .year {
			display: none;
		}
