---
---
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow');

$typl8-headings: (
  h1: typl8-beta,
  h2: typl8-gamma,
  h3: typl8-delta,
  h4: typl8-epsilon,
  h5: typl8-zeta,
  h6: typl8-zeta
);

$typl8-custom-font: "Archivo Narrow";

@import "_typeplate-index.scss";


li {
    p:first-child + p {
        text-indent: 0;
    }
}
$color: #eee;

header {
  background-image: url('/assets/header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
      position: relative;
    top: 0;
    height: 200px;
    width: auto;
    left: 0;
    right: 0;

  a {
    text-decoration: none;
  }

  h1 { /* logo */
    font-size: 2em;
    text-align: center;
    font-weight: lighter;
    visibility: hidden;
  }

  nav {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    ul.navigation {
        padding: 0;
    }
    li {
        display: inline-block;
        width: 40%;
      font-weight: bold;
      list-style: none;
      background-color: rgba(0,0,0,0.3);
      margin: 0.6rem;
      border-radius: 4px;
      a {
        color: white !important;
      }

    }
  }
}
div[role="main"] {
    padding: 0.3rem;
  blockquote {
    margin-left: 1rem;
    padding-left: 0.5rem;
    border-left: 5px solid $color;
  }
  .highlight {
    margin: 1rem -0.3rem;
    padding: 0.3rem;
    line-height: 1.1rem;
    font-size: 0.8rem;
    background-color: rgba($color, 0.7);
    /* *cry* the scss parser messes this up :/
background-image: linear-gradient(0deg,white 2px,transparent 2px),linear-gradient(90deg, white 2px, transparent 2px),linear-gradient(0deg, rgba(255,255,255,0.1) 1px, transparent 1px),linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-repeat: repeat;
   */

    code {
        background-color: transparent;
    }
  }

  p > code {
      background-color: hsla(0, 100%, 80%, 0.4);
      padding: 1px 3px;
      border-radius: 2px;
  }

  .posts {
      padding: 0;
      /* we should change the font sizes on headings a tad maybe? */
      .post {
          list-style: none;
          position: relative;
          display: block;
          margin-top: 1em;
          margin-bottom: 3em;


          .sandbox {
              width: 90%;
              height: 300px;
              overflow: auto;
              margin: 1em auto;
              outline: 1px dotted $color;
              iframe {
                  border: 0;
                  width: 100%;
                  height: 100%;
              }
          }
      }
  }
}

footer {
  margin: 1em auto;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    background-image: url('/assets/header-image-tall.jpg');

    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    height: 100%;

  }
  footer {
      font-size: $typl8-small-print-size;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 300px;
    color: darken($color, 15);
    a {
      color: inherit;
    }
  }
  div[role="main"] {
    position: relative;
    margin-left: 310px;
    margin-right: 10px;
    max-width: 600px;
    .posts {
        .post {
            .sandbox {
                height: 400px;
                width: 400px;
                outline: none;
                margin: 0 auto;
                background-image: url('/assets/imac_transparent.png');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 100%;
                iframe {
                    margin: 0 auto;
                    width: 71.5%;
                    height: 40.67%;
                    position: relative;
                    left: 14.33%;
                    top: 18.33%;
                    overflow: auto;
                }
            }
            .sandbox.ipad {
                background-image: url('/assets/ipad.png');
                perspective: 949px;
                perspective-origin: left center;
                iframe {
                    transform-style: preserve-3d;
                    transform: rotateY(22deg) rotateX(8deg);
                    transform-origin: bottom right;
                    width: 52.6%;
                    height: 66.16%;
                    left: 24.5%;
                    top: 15.33%;
                }
            }
        }
    }
  }
}
